<div class="message-list">
    <div class="buttons">
        {{{ button_primary }}}
        {{{ button_delete_user }}}
     </div>
     <div class="messages">
         {{#each messageItems}}
            {{{this}}}
        {{/each}}
        </div>
            <div class="input-message">
                {{{ inputmessage }}}
            </div>
        {{{ modal }}}
        {{{ modalUserDelete }}}
</div>