<main class='containerchat'>
  <header class='containerchat__header'>
    {{{header}}}
  </header>
  <aside class='containerchat__sidebar'>
    {{{ profile }}}
    {{{ sidebar }}}
  </aside>
  <section class='containerchat__main'>
    {{{ messageBlock }}}
  </section>
  <footer class='containerchat__footer'>{{{footer}}}</footer>
</main>
