<main class='containerprofile'>
  <aside class='containerprofile__sidebar'>
    {{{button_sidebar}}}
  </aside>
  <section class='containerprofile__main'>
    <div class='profile__avatar'>
      <p class='profile__img'></p>
    </div>
    <form>
      {{{profileEmail}}}
      {{{profileLogin}}}
      {{{profileFirst_name}}}
      {{{profileSecond_name}}}
      {{{profileDisplay_name}}}
      {{{profilePhone}}}
      {{{button_save}}}
    </form>
  </section>
</main>
