<main class='containerprofile'>
  <aside class='containerprofile__sidebar'>
    {{{button_sidebar}}}
  </aside>
  <section class='containerprofile__main'>
    <div class='profile__avatar'>
        {{{ avatar }}}
        {{{ input_avatar }}}
    </div>
    <form>
      {{{input_email}}}
      {{{input_login}}}
      {{{input_phone}}}
      {{{input_first_name}}}
      {{{input_second_name}}}
      {{{input_display_name}}}
      {{{input_phone}}}
      {{{input_oldPassword}}}
      {{{input_newPassword}}}
      {{{button_save}}}

    </form>
  </section>
</main>
