<main class='container'>
  <form class='form-auth'>
    <h1 class='form-auth__title'>Регистрация</h1>
    <div class='container__register'>
      {{{email}}}
      {{{login}}}
      {{{first_name}}}
      {{{second_name}}}
      {{{display_name}}}
      {{{phone}}}
    </div>
    {{{button_register}}}
    {{{button_login}}}
  </form>
</main>
