<main class='container'>
  <form class='form-auth'>
    <h1 class='form-auth__title'>Регистрация</h1>
    <div class='container__register'>
      {{{input_email}}}
      {{{input_login}}}
      {{{input_first_name}}}
      {{{input_second_name}}}
      {{{input_password}}}
      {{{input_phone}}}
    </div>
    {{{button_register}}}
    {{{button_login}}}
  </form>
</main>
